.header {
    background-color: #2e323e;
    height: 60px;
    display: flex;
    align-items: center;

    .switch {
        margin-left: 84%;

        span:nth-child(2) {
            background-color: white;
        }
    }

    h1 {
        color: #c1c4cd;
        font-size: 23px;
        margin-left: 30px;
    }
}

// Responsive 768 - 1200

@media only screen and (max-width: 1200px) {
    .header {
        .switch {
            margin-left: 72%;
        }

        h1 {
            font-size: 20px;
        }
    }
}

// Responsive 480 - 768

@media only screen and (max-width: 768px) {
    .header {
        .switch {
            margin-left: 60%;
        }

        h1 {
            font-size: 20px;
        }
    }
}
