.header {
    background-color: #2e323e;
    height: 60px;
    display: flex;
    align-items: center;

    h1 {
        color: #c1c4cd;
        font-size: 23px;
        margin-left: 30px;
    }
}

// Responsive 768 - 1200

@media only screen and (max-width: 1200px) {
    .header {
        h1 {
            font-size: 20px;
            margin-top: 15px;
        }
    }
}
