.main {
    width: 100%;
    // background-color: #0e151b;
    min-height: 800px;

    .menu {
        height: 80px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .add_button {
            width: 155px;
            background-color: #198754;
            height: 35px;
            color: white;
            text-transform: capitalize;
            margin-left: 30px;

            .add_icon {
                fill: white;
                width: 18px;
                margin-right: 10px;
            }
        }

        .autocomplete {
            background-color: white;
            border-radius: 8px;
            margin-left: 15px;
            height: 35px;

            .autocomplete_textfield {
                input {
                    height: 4px;
                    outline: none;
                    border: none;
                    border-radius: 8px;
                }
            }
        }

        .sort_button_group {
            background-color: white;
            border-radius: 8px;
            margin-left: 15px;

            .sort_button {
                color: #3e454d;
                text-transform: capitalize;
            }
        }
    }
}

.table_div {
    width: 96%;
    margin-left: 30px;
    display: inline-flex;

    table {
        width: 100%;
        border-spacing: 0 10px !important;
        border-collapse: separate;

        thead {
            background-color: #2e323e;
            height: 60px;
            color: #c1c4cd;

            tr {
                .title_tr {
                    padding-left: 15px;
                }

                .progress_tr {
                    padding-right: 375px;
                }

                .actions_tr {
                    padding-right: 150px;
                }
            }
        }

        tbody {
            .progress {
                background-color: transparent;
                margin: auto;

                div {
                    width: 100%;
                }

                span {
                    width: 305px;
                    height: 20px;
                    border-radius: 3px;
                }

                p {
                    color: white;
                }
            }
            tr {
                cursor: pointer;
                background-color: #2e323e;
                color: white;
                height: 50px;
                min-height: 50px;
                // div {
                //     display: flex;
                // }

                .title {
                    padding-left: 15px;

                    a {
                        color: white;
                        text-decoration: none;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        // height: 60px;
                    }
                }

                .update_button,
                .delete_button {
                    background-color: #198754;
                    width: 90px;
                    height: 30px;
                    color: white;
                    text-transform: capitalize;
                }

                .delete_button {
                    background-color: #dc3545;
                    margin-left: 15px;
                }
                td {
                    // width: 100%;

                    &:first-child {
                        width: 35% !important;
                    }

                    &:nth-child(2) {
                        width: 35% !important;
                    }

                    &:last-child {
                        width: 30% !important;
                    }
                    &:hover {
                        background-color: #21232c;
                    }
                }
            }
        }
    }
}

// Responsive 768 - 1200

@media only screen and (max-width: 1200px) {
    .table_div {
        width: 94%;
        margin-left: 20px;

        table {
            thead {
                height: 50px;

                tr {
                    .progress_tr {
                        display: none;
                    }
                }
            }

            tbody {
                td:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

//Responsive 460-768
@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
        min-height: 800px;

        .menu {
            margin-top: 20px;
            height: 150px;
            display: block;

            .add_button {
                width: 94%;
                display: flex;
                justify-content: flex-start;
                margin-left: 20px;
            }

            .autocomplete {
                margin-left: 20px;
                margin-top: 12px;
                width: 94%;
            }

            .sort_button_group {
                margin-left: 20px;
                width: 94%;
                margin-top: 12px;

                button:nth-child(1) {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                }

                button:nth-child(2) {
                    border: none;
                }

                svg {
                    fill: #757575;
                }
            }
        }
    }
    .table_div {
        width: 93%;
        margin-left: 20px;

        table {
            thead {
                height: 50px;

                tr {
                    .actions_tr {
                        display: none;
                    }
                }
            }

            tbody {
                td:nth-child(3) {
                    display: none;
                }
            }
        }
    }
}


