.container {
    background-color: #0e151b;
    min-height: 657px;

    .to_do_info_main_div {
        .to_do_info_title {
            margin-top: 15px;
            background-color: #404654;
            width: 95%;
            margin-left: 30px;

            h3 {
                color: white;
                padding: 10px;
            }
        }

        .to_do_info {
            display: flex;

            .description_div {
                background-color: #404654;
                width: 47%;
                height: 350px;
                margin-left: 30px;
                margin-top: 0px !important;

                p {
                    color: white;
                    font-size: 18px;
                    padding: 10px;
                }
            }

            .info_actions {
                background-color: #404654;
                width: 47%;
                height: 350px;
                margin-left: 14px;
                margin-top: 0px !important;

                .percentage_div {
                    height: 60px;

                    .progress {
                        background-color: transparent;
                        margin: auto;
                        margin-top: 20px;
                        margin-left: 20%;

                        span {
                            height: 20px;
                            border-radius: 3px;
                        }

                        .inc_dec_buttons {
                            display: flex;
                            justify-content: center;
                            margin-top: 15px;
                        }
                    }

                    .plus_button,
                    .minus_button {
                        background-color: #dc3545;
                        font-size: 25px;
                        color: white;
                        width: 90px;
                        height: 38px;
                    }

                    .plus_button {
                        background-color: #198754;
                        margin-right: 60px;
                    }

                    .minus_button {
                        margin-right: 145px;
                    }
                }

                .deadline_div,
                .createdAt_div {
                    padding-top: 10px;
                    width: 600px;
                    margin-left: 15px;
                    border-bottom: 1px solid white;

                    p {
                        color: white;
                        width: 100px;
                    }
                }

                .createdAt_div {
                    border-bottom: none;
                }

                .info_buttons {
                    display: flex;

                    .info_delete_button,
                    .info_update_button {
                        width: 47%;
                        height: 40px;
                        background-color: #dc3545;
                        color: white;
                        text-transform: capitalize;
                        font-size: 16px;
                        margin-left: 15px;
                        margin-top: 5px;
                    }

                    .info_update_button {
                        background-color: #198754;
                        margin-left: 5px;
                    }
                }

                .go_back_button {
                    background-color: #198754;
                    width: 95%;
                    margin-left: 15px;
                    margin-top: 10px;
                    color: white;
                    text-transform: capitalize;
                    font-size: 16px;

                    .back_icon {
                        fill: white;
                        width: 16px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

// Responsive 768 - 1200

@media only screen and (max-width: 1200px) {
    .container {
        min-height: 500px;

        .to_do_info_main_div {
            .to_do_info_title {
                width: 95%;
                margin-left: 20px;
            }

            .to_do_info {
                display: block;

                .description_div {
                    width: 95%;
                    height: 80px;
                    margin-left: 20px;
                }

                .info_actions {
                    width: 95%;
                    height: 350px;
                    margin-left: 20px;

                    .percentage_div {
                        height: 70px;

                        .progress {
                            margin-left: 1%;
                            padding-top: 20px;
                            width: 130%;
                        }

                        .plus_button,
                        .minus_button {
                            width: 40%;
                            height: 38px;
                        }

                        .plus_button {
                            margin-right: 20px;
                        }

                        .minus_button {
                            margin-right: 26%;
                        }
                    }

                    .deadline_div,
                    .createdAt_div {
                        padding-top: 35px;
                        width: 94%;
                    }

                    .createdAt_div {
                        margin-top: 0px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

//Responsive 460-768
@media only screen and (max-width: 768px) {
    .container {
        min-height: 800px;

        .to_do_info_main_div {
            .to_do_info_title {
                width: 94%;
                margin-left: 15px;

                h3 {
                    font-size: 17px;
                }
            }

            .to_do_info {
                display: block;

                .description_div {
                    width: 94%;
                    height: 150px;
                    margin-left: 15px;

                    p {
                        font-size: 15px;
                        text-align: justify;
                    }
                }

                .info_actions {
                    width: 94%;
                    height: 500px;
                    margin-left: 15px;

                    .percentage_div {
                        height: 160px;

                        .progress {
                            margin-top: 20px;
                            margin-left: 2%;
                            width: 125%;

                            .inc_dec_buttons {
                                display: block;
                            }
                        }

                        .plus_button,
                        .minus_button {
                            font-size: 20px;
                            width: 76%;
                            height: 35px;
                        }

                        .plus_button {
                            margin-right: 0px;
                        }

                        .minus_button {
                            margin-right: 0px;
                            margin-top: 10px;
                        }
                    }

                    .info_buttons {
                        display: block;

                        .info_delete_button,
                        .info_update_button {
                            width: 94%;
                            height: 35px;
                            font-size: 14px;
                            margin-left: 15px;
                            margin-top: 10px;
                        }

                        .info_update_button {
                            margin-left: 14px;
                        }
                    }

                    .go_back_button {
                        width: 94%;
                        height: 35px;
                        margin-left: 15px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
